<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="title" content="{% block meta_title %}Welcome!{% endblock %}" />
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The blog of Chris Sedlmayr about Symfony, php, open source technology and real world development" />
        <meta name="keywords" content="Symfony, php, framework, blog, web, open, source, development" />
        <meta name="language" content="en" />

        {% block stylesheets %}
        {% stylesheets
            'bundles/sedlmayrlayout/css/*'
            output='css/layout.css' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% endblock %}

        {% image '@SedlmayrLayoutBundle/Resources/public/images/favicon.ico' output='favicon.ico' %}
            <link rel="shortcut icon" type="image/x-icon" href="{{ asset_url }}" />
        {% endimage %}

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-936479-14']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        <!-- Infinity Tracking Code v1.16
            Copyright Infinity Tracking 2011
            www.Infinity-Tracking.com -->
        <script type="text/javascript">
          var _ictt = _ictt || [];
          _ictt.push(['_setIgrp', '77']);
          _ictt.push(['_track']);
          (function() {
              var ict = document.createElement('script'); ict.type = 'text/javascript'; ict.async = true;
              ict.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'assets.infinity-tracking.net/nas/js/nas.v1.min.js';
              var scr = document.getElementsByTagName('script')[0]; scr.parentNode.insertBefore(ict, scr);
            })();
        </script>
        <!-- Infinity Tracking Code End -->

    </head>
    <body>
        <div class="row">
            <header>
                {% block header %}
                    <h1>Chris Sedlmayr</h1>
                {% endblock %}
            </header>
            <div class="grid_12">
                {% block body %}{% endblock %}
            </div>
            <footer>
                <hr>
                &copy; {{ "now"|date('Y') }} <a href="{{ path('post_list') }}" alt="Chris Sedlmayr" title="Chris Sedlmayr">Chris Sedlmayr</a> | <a href="{{ path('post_list_feed') }}">Atom</a>
            </footer>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
